.about-wrapper {
  width: 100vw;
  height: 100vh;
}

.about-carousel-wrapper {
  position: relative;
  height: 200vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgb(1, 17, 25);
}

.about-carousel-container {
  height: 100vh;
  position: sticky;
  width: 90vw;
  margin-left: 11%;
  top: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.about-carousel-interior {
  display: flex;
  gap: 15rem;
}

.about-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:white;
  height: 100vh;
  width: 50vw;
  padding: 0px 80px;
}

.art-quote {
  width: 100%;
  font-size: 20px;
}

.jacques {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  width: 40%;
}

.about-text {
  width: 100%;
}

.cv-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}

.text-wrapper {
  border: 1px white solid;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.cv-wrapper {
  width: 100%;
  height: 80%;
}

.cv-title {
  border-bottom: .5px solid rgb(247, 222, 234);
  margin: 0px;
  margin-bottom: 10px;
  font-size: 40px;
  font-family: 'Bebas Neue', sans-serif;
}


.cv-item-title {
  font-size: 20px;
  font-weight: bold;
}

.cv-item-container {
  font-family: "droid-serif", serif;
  display: flex;
  flex-direction: column;
}

.cv-item-details {
  font-size: 14px;
}

.cv-item-wrapper {
  margin-bottom: 15px;
}

.about-text-container {
  height: 50%;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.cv-year {
  width: fit-content;
  font-size: 20px;
  border-bottom: .5px solid rgb(247, 222, 234);
}

.cv-skill-container {
  margin: 0px;
  font-size: 30px;
  font-family: 'Bebas Neue', sans-serif;
}

.create {
  padding: 20px;
  letter-spacing: 3px;
  font-family: 'Bebas Neue', sans-serif;
  border: .5px solid rgb(247, 222, 234);
}

@media (max-width: 1100px) {
  .about-card-wrapper {
    width: 80vw;
  }

  .about-carousel-container {
    width: 100vw;
    margin: 0px;
  }
}