aside {
  height: 45vh;
  width: 8%;
  min-width: 400px;
  margin-left:1%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: fixed;
  top: 5%;
  padding: 20px;
  z-index: 3;
}

.link-wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.link-container {
  all: unset;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: center;
  margin-bottom: 10px;
}

li {
  all: unset;
  font-size: 19px;
  font-family: "droid-serif", serif;
  color:white;
}

.name {
  text-align: center;
  margin: 0px 0px 0px 0px;
  font-size: 42px;
  letter-spacing: 10px;
  font-family: 'Bebas Neue', sans-serif;
}

.letter-wrapper {
  overflow: hidden;
}

.headshot {
  height: 60vh;
}

.creative {
  color: rgb(247, 222, 234);
  margin-top: 0px;
  font-size: 20px;
  letter-spacing: 4px;
  text-align: center;
}

.name-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex;
  font-family: "droid-serif", serif;
}

.link:hover, .name-wrapper:hover {
  color: rgb(247, 222, 234);
  font-style: italic;
  cursor: pointer;
}

.link:hover {
  letter-spacing: 3px;
}


@media (max-width: 1100px) {
  .name {
    font-size: 30px;
  }

  .name-container {
    width: 30%;
  }
}