.art-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.art-title {
  color: white;
  font-size: 18px;
  font-family: "droid-serif", serif;
}

.art-item {
  height: 70vh;
}