.art-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: fit-content;
  overflow: hidden;
}

.art-details-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
}

.art-title {
  width: fit-content;
  margin: 5px;
  color: white;
  font-size: 14px;
  font-family: "droid-serif", serif;
}

.art-year {
  width: fit-content;
  font-size: 14px;
  color: rgb(247, 222, 234);
  margin: 5px;
}

.art-item {
  height: 70vh;
  width: auto;
}

@media (max-width: 1440px) and (max-height: 700px){
  .art-item {
    height: 65vh;
  }
}