body{
  margin: 0px;
  width: 100vw;
  padding: 0px;
  overflow-x:hidden;
  background-color: black;
}

.root {
  display: flex;
  align-items: flex-start;
}

.App {
  width: 100vw;
  height: 99vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  color: white;
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-thumb {
  background-color: #f4a7e5; 
  border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(247, 222, 234);
}

::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}