.programming-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 75vh;
}

.app-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 23vw;
  height: 85%;
  margin-left: 3%;
  font-family: "droid-serif", serif;
  font-weight: 200;  
}

.nectr {
  font-family: 'Manrope', sans-serif;
  font-style: italic;
}

.HYPERLOOM{
  font-family: 'Audiowide';
}

h3, .app-text {
  margin: 0px;
  margin-bottom: 5px;
}

h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 32px;
  margin: 3px 0px;
  letter-spacing: 1px;
}

.app-name {
  margin: 10px 0px;
  font-size: 36px;
}

.button-container {
  margin: 20px 10px;
  display: flex;
  justify-content: space-evenly;
  width: 90%;
}

.app-link {
  font-size: 14px;
  letter-spacing: 1px;
  font-family: "droid-serif", serif;
  padding: 1px 8px;
  height: 40px;
  color: white;
  border:none;
  background-color: black;
  border: solid 1px rgb(240, 208, 224);
}

@media (max-width: 1440px) {
  
}