.carousel-page-wrapper {
  width: 100vw;
  height: 100vh;
}

.carousel-wrapper {
  scroll-snap-type: both mandatory;
  position: relative;
  height: 150vh;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgb(1, 17, 25);
}

.scroll-text {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 36px;
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  color: rgb(255, 145, 0);
}

.carousel-container {
  height: 100vh;
  position: sticky;
  margin-left: 11vw;
  top: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.carousel-item {
  height: 65vh;
}

.carousel-interior {
  display: flex;
  gap: 15rem;
}

@media (max-width: 1440px) {
  .carousel-container{
    margin-left: 13vw;
  }

  .scroll-text{
    left: 15%;
  }
}

@media (max-width: 1440px) and (max-height: 670px){
  .scroll-text {
    bottom: 0;
    font-size: 30px;
    left: 15%;
  }
}

@media (max-width: 1100px) {
  .carousel-container{
    margin-left: 4vw;
  }

  .scroll-text {
    font-size: 20px;
    top: 5%;
    left: 4%;
  }

  .carousel-interior {
    height: 86vh;
  }
}

@media (max-width: 700px) {
  .carousel-container{
    margin-left: 0%;
    height: 95vh;
  }
}