.contact-wrapper {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: rgb(1, 17, 25);
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: white 1px solid;
  padding: 50px;
}

.contact-link-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}

.contact-text {
  font-family: "droid-serif", serif;
  margin: 0px;
  font-size: 20px;
  text-align: center;
}

.contact {
  text-align: auto;
  text-justify: auto;
  font-size: 36px;
  font-family: 'Bebas Neue', sans-serif;
}